:root {
  --color-bg: #E3E8E7;
  --color-bg-dark: #022601;

  --color-title: #0D0D0D;
  --color-navbar-text: #022601;
  --color-text-light: #f5f9f8;
  --color-text-dark: #333;

  --color-hover-bg-dark: #06F822;
  --color-hover-bg-light: #2EAE0F;

  --color-decorations: #2EAE0F;

  --color-aux: #666;
  --color-aux-3: #1E590F;
  --color-green: #008000;

  --color-shadow: rgba(29, 88, 83, 0.15);

  --font-body: 'Montserrat', sans-serif;
}
